/* This is a modern and comprehensive CSS reset. */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* Custom CSS Styling for nodes. */

body {
    background-color: rgb(20, 20, 20);
}

.draggable {
    width: 21rem;
    height: 21rem;
    border: 0.2rem solid #0f2c65;
    border-radius: 0.2rem;
    position: absolute;
    z-index: 9;
    box-shadow: 2px 4px 18px rgba(0, 0, 0, 0.2);
    transition: border-color 0.2s, box-shadow 0.2s;
}

.draggable .drag {
    border-color: rgb(182, 17, 17);
    box-shadow: 3px 6px 24px rgba(0, 0, 0, 0.5);
}

.draggable .dragzone {
    width: 100%;
    height: 100%;
    cursor: move;
    z-index: 10;
    background-color: #0f2c65;
}

.wrapper{
    position: relative;
    width: 320px;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper .name{
    font-size: 23px;
    font-weight: 500;
    color: white;
    margin: 10px 0 5px 0;
}

.wrapper .about{
    color: #d0d1d7;
    font-weight: 400;
    font-size: 16px;
}

/* Custom CSS Styling for background text. */

.text-background {
    font-family: system-ui;
    color: #646669;
    font-size: 2em;
    padding: .25em;
    padding-top: 20%;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
}